# Default ignored files
/shelf/
/workspace.xml

# ===============================
# Arquivos e pastas de build
# ===============================
/out/
/build/
/target/
/bin/
/classes/

# ===============================
# Configurações de IDE
# ===============================
# IntelliJ IDEA
out/
target/
.idea/
/*.iml
*.ipr
*.iws